@import 'tailwindcss';

@theme {
  --color-pblue: #197278;
  --color-pred: #c44536;
  --color-sblue: #283d3b;
  --color-sred: #772e25;
  --color-dark: #010a10;
  --color-darklight: #14222a;
  --color-black: #04151f;
  --color-white: #edddd4;
  --color-creme: #b1a198;

  --font-bungee: 'Bungee', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

@font-face {
  font-family: 'Bungee';
  src: url('./assets/fonts/Bungee/Bungee-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}
